@font-face {
  font-family: "Zeppelin";
  src: url('./fonts/Carouselambra.ttf');
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background-color: black;
}

.header-content {
  position: absolute;
  background-color: black;
  color: white;
  margin-bottom: 4em;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 4em;;
}

h1 {
  font-family: "Zeppelin";
  font-weight: 500;
  font-size: 14em;
}

h2 {
  font-family: "Zeppelin";
  font-weight: 500;
  font-size: 5em;
}

@media screen and (max-width: 800px) {  
  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 4em;
  }
}